{% extends "base.html" %} {% block content %} {% from 'macros.html' import
graph, modal, form %}

<div class="jumbotron text-center jumbotron-fluid">
  <div class="container main">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <p>Please note that Google Trends API is having some issues so viewing messaging statistics may take longer than normal or simply not work at all. Thank you for your patience.</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h1 style="font-size: 4rem" class="mt-5">Welcome to Slanguage!</h1>
    <p>
      This is a summer project created by PilotCity Students for
      <a href="https://www.cognixion.com/">Cognixion</a>.
    </p>
    <hr />

    {% call modal("slangMeaning", "Slang Meaning") %}
    <p>hi</p>
    {% endcall %}

    <div class="row mt-5">
      <div class="col-md-4">
        <a class="noBlue" href="{{ url_for('facebook')}}">
          <div
            class="card mb-4 box-shadow home-cards"
            style="border-radius: 1rem"
          >
            <img
              class="card-img-top"
              style="object-fit: cover"
              src="{{url_for('static', filename='styles/assets/images/facebookwallpaper.png')}}"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <h1 class="card-text">Facebook</h1>
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 test">
        <a class="noBlue" href="{{ url_for('discord')}}">
          <div
            class="card mb-4 box-shadow home-cards"
            style="border-radius: 1rem"
          >
            <img
              class="card-img-top"
              style="object-fit: cover"
              src="{{url_for('static', filename='styles/assets/images/discordwallpaper.png')}}"
            />
            <div class="card-body">
              <h1 class="card-text">Discord</h1>
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="noBlue" href="{{ url_for('instagram')}}">
          <div
            class="card mb-4 box-shadow home-cards"
            style="border-radius: 1rem"
          >
            <img
              class="card-img-top"
              style="object-fit: cover"
              src="{{url_for('static', filename='styles/assets/images/instagramwallpaper.png')}}"
            />
            <div class="card-body">
              <h1 class="card-text">Instagram</h1>
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </div>
          </div>
        </a>
      </div>

      <hr class="mt-2" />
      <div class="d-flex">
        <div class="mt-3">
          <h1 style="text-align: left">Purpose</h1>
          <p style="text-align: left">
            We created this web application to address the issue of disabled
            individuals struggling to connect with people within their age
            group. We hope to accomplish this by creating a tool that allows
            people to share their messaging habits and the slang they commonly
            use. This allows people with disabilites to incorporate
            colloquialism into their own vocabulary so they can more easily
            connect with the people around them and fully express themselves. We
            encourage everyone to use this website to learn about their own
            idiosyncrasies through message statistics.
          </p>
          <h1 class="mt-5" style="text-align: left">About Us</h1>
          <p class="text-start">
            Team Karp stands for Kevin Luu, Aaron Chan, Ryan Hua, and Patrick
            Wong.
          </p>
        </div>

        <img
          style="float: right; height: 35rem; width: 32rem; margin-left: 5rem"
          src="{{url_for('static', filename='styles/assets/images/samplegraph.png')}}"
        />
      </div>
      <hr class="mt-3" />
    </div>
  </div>

  {% endblock %}
</div>